<div class="d-flex justify-content-between" style="height: 12.3rem; ">
    <div class="card rounded-4 p-3 bg-success text-white flex-fill m-2">
        <div class="d-flex align-items-center justify-content-between">
            <p class="mb-0 text-wrap"><i class="fas fa-calendar-alt fa-3x m-3"></i><br>Vacation <br> Requests</p>
            <div>
                <h1 class="display-1">{{employeeDetails.VacationRequests}}</h1>
            </div>
        </div>
    </div>

    <div class="card rounded-4 p-3 shadow-sm bg-success text-white flex-fill m-2">
        <div class="d-flex align-items-center justify-content-between">
            <p class="mb-0 text-wrap"><i class="fas fa-calendar-alt fa-3x m-3"></i><br>Leave <br> Requests</p>
            <div>
                <h1 class="display-1">{{employeeDetails.VacationLeave}}</h1>
            </div>
        </div>
    </div>
</div>